
.card{
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);

}
.card1
{
  text-align: left;

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    box-shadow: inset;
    width: 90%;
    height: 80%;
    border: 1px solid gray;
    padding: 40px;
    color: rgb(29, 29, 29);
    font-weight: bold;
  
}

.popover-header{
  display: flex;
  justify-content: space-between;
}
input {
    display: block;
    margin-bottom: 25px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid rgb(201, 208, 255);
    background: #f2f2f2;
    padding: 10px;
    font-size: 14px;
    position: relative;
  }
  button {
    color: rgb(37, 37, 37);
    font-weight: bold;
    width:30%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #ffcc09;
    font-size: 14px;
  }
  button:hover{
    background-color: #ff4400;
  }
  /* CSS styles for the post content */
.preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.image {
  margin-right: 20px;
}

.image img {
  width: 200px;
  height: 200px;
}
.popover-title{
  margin-top: 30px;
}