<div class="card1 bg-light">
  <div class="container">
    <h2>Add a New Page</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="url">URL</label>
        <input type="text" class="form-control" id="url" [(ngModel)]="page.url" name="url" required>
      </div>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="page.title" name="title" required>
      </div>
      <div class="form-group">
        <label for="metaDescription">Meta Description</label>
        <input type="text" class="form-control" id="metaDescription" [(ngModel)]="page.metaDescription" name="metaDescription" required>
      </div>
      <div class="form-group">
        <label for="ogTagKeys">Social Media Image</label>
        <input type="text" class="form-control" id="ogImage" [(ngModel)]="ogImage" name="ogImage" required>
      </div>
      <div class="form-group">
        <label for="ogTagValues">Social Media Title</label>
        <input type="text" class="form-control" id="ogTitle" [(ngModel)]="ogTitle" name="ogTitle" required>
      </div>
      <div class="form-group">
        <label for="ogTagValues">Social Media Description</label>
        <input type="text" class="form-control" id="ogDescription" [(ngModel)]="ogDescription" name="ogDescription" required>
      </div>
      <button type="submit" class="btn btn-primary">Add Page</button>

    </form>
    <button (click)="isPopoverOpen = true">Preview Social Media Appearance</button>
  </div>

</div>
<div class="card">
  <div class="popover" *ngIf="isPopoverOpen" style="max-width: 700px;">
    <div class="popover-header">Social Media Appearance Preview
      <button style="width: 30px; height:30px; color:white;" type="button" class="close" aria-label="Close" (click)="isPopoverOpen = false;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="popover-body">
      <img [src]="ogImage" alt="previewImage" style="max-width: 100%;">
      <div class="popover-title"><h3 style="font-weight: bold;">{{ogTitle}}</h3></div>
      <p>{{ogDescription}}</p>
    </div>

  </div>

</div>