<div class="form">
    <div class="form__box bg-dark">
      <div class="form__right">
        <div class="form__padding-right">
  
          <h2>Change Password</h2>
      
      <mat-card-content>
          <form class="example-form" (ngSubmit)="changePassword()">
              
                <label>New password</label>
                <input class="form__email" type="password" placeholder="New Password"  [(ngModel)]="newPassword" name="newPassword" >
                
                <label>Confirm new password</label>
                <input class="form__email" type="password" placeholder="Confirm password"  [(ngModel)]="confirmPassword" name="confirmPassword" >

                <div *ngIf="message" class="message">{{message}}</div>
                <div *ngIf="error" class="error">{{error}}</div>
                <div>
                  <button >Confirm</button>
                  <a class="form__link" routerLink="/login" >Login</a>
                </div>
            </form>
      </mat-card-content>
  
  </div>
  </div>
  </div>
  </div>