<div id="container">
<ejs-sidebar #dockBar id="dockSidebar"  [enableDock]='enableDock' [width]='width' [dockSize]='dockSize' *ngIf="isLoggedIn" >
    <div class="dock">
        <ul>
            <li class="sidebar-item" >
                <mat-icon>account_circle</mat-icon>
                <span class="e-text"  [hidden]="!enableDock" title="settings">{{username}}</span>
            </li>
        </ul>
        <ul>

            <li class="sidebar-item" id="toggle" (click)="toggleClick()">
                <mat-icon>menu</mat-icon>
                <span class="e-text" [hidden]="!enableDock" title="menu">Menu</span>
            </li>
            <li class="sidebar-item" routerLink="/users" [class.selected]="isActive('/users')">
                <mat-icon>manager</mat-icon>
                <span class="e-text" [hidden]="!enableDock" title="home" >Users</span>
            </li>
            <li class="sidebar-item" routerLink="/dashboard" [class.selected]="isActive('/dashboard')">
                <mat-icon>dashboard</mat-icon>
                <span class="e-text" [hidden]="!enableDock" title="profile">Dashboard</span>
            </li>
            <li class="sidebar-item" routerLink="/pages" [class.selected]="isActive('/pages')">
                <mat-icon >webpage</mat-icon>
                <span class="e-text"  [hidden]="!enableDock" title="info">Pages Templates</span>
            </li>
            <li class="sidebar-item" routerLink="/keywords" [class.selected]="isActive('/keywords')">
                <mat-icon>keyword</mat-icon>
                <span class="e-text"  [hidden]="!enableDock" title="info">Keywords</span>
            </li>
            <div class="dev">
                <li class="sidebar-item" routerLink="/sitemap" [class.selected]="isActive('/sitemap')">
                    <mat-icon>map</mat-icon>
                    <span class="e-text"  [hidden]="!enableDock" title="info">Sitemap</span>
                </li>
                <li class="sidebar-item" routerLink="/sitemap" [class.selected]="isActive('/sitemap')">
                    <mat-icon>subject</mat-icon>
                    <span class="e-text"  [hidden]="!enableDock" title="info">Robots.txt</span>
                </li>
            </div>
        </ul>
        <ul>
            <li class="sidebar-item" (click)="userLogout()">
                <mat-icon>logout</mat-icon>
                <span class="e-text"  [hidden]="!enableDock" title="settings">Logout</span>
            </li>
        </ul>
    </div>
</ejs-sidebar>
<div id="main-content">
    <div class="control-container" *ngIf="isLoggedIn">
        <ejs-appbar cssClass="nav" >
          <div class="logo"><img src="../assets/logo.svg"><span>Ijeni SEO System</span></div>
          <div class="e-appbar-spacer"></div>
          <button class="btn btn-warning">Go To Ijeni.tn!</button>
        </ejs-appbar>
      </div>
    <div class="content">
        <div class="sub-title"><router-outlet></router-outlet></div>
    </div>  
</div>
<div>
</div>
</div>