/* Style for sidebar */
.e-dock .dock {
    padding: 10px;
    box-sizing: border-box;
    height: calc(100% - 110px);
}

/* Style for sidebar items */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Style for sidebar item icons */
li mat-icon {
    margin-right: 10px;
    font-size: 24px;
    color: #555;
}

/* Style for sidebar item text */
li .e-text {
    font-size: 16px;
    font-weight: 500;
    color: #555;
}

/* Style for main content */
#main-content {
    padding: 50px;
    text-align: center;
}
.e-sidebar.e-left.e-open {
    transition: transform 2.5s ease;
}
.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.sub-title {
    font-size: 20px;
    font-weight: 500;
    color: #555;
}
