<ngx-ui-loader></ngx-ui-loader><ngx-ui-loader></ngx-ui-loader>
<div class="card bg-light">    
    <div class="Themes">
      <h2>Robots.txt file</h2> 
      <table class="table table-light table-striped table-hover" >
        <thead>
          <tr>
            <th>Diasllowed Links</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let link of pagedLinks">
            <td>{{link?.link}}</td>
            <td><button class="btn btn-danger" (click)="deleteLink(link?.link)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <pagination class="pagination" [totalItems]="totalLinks" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" [maxSize]="maxSize" [rotate]="rotate" [boundaryLinks]="true" [previousText]="'Previous'" [nextText]="'Next'"></pagination>
      </div>
      <div class="newThemeForm">
        <input class="form-control" type="text" id="newTheme" [(ngModel)]="link" name="newTheme" placeholder="new theme">
        <button class="btn btn-warning" (click)="addLink()"><mat-icon>add</mat-icon>Add Disallowed Link</button>
        <button class="btn btn-warning" (click)="generateRobots()"><mat-icon>engineering</mat-icon>Generate robots.txt</button>
      </div>
      <div class="error" name="error">{{error}}</div>
    </div>
    </div>
    