.card
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    box-shadow: inset;
    width: 90%;
    padding: 50px;
}

h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

.btn-warning {
    margin-left: 10px;
    width: 15%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background: #ffcc09;
    font-size: 14px;
    position: relative;
  }

  ::ng-deep .pagination > li.active {
    background-color: #e6b800 !important;
    color: white !important;
  }