<div class="container">

    <div class="control-section">
        <ngx-ui-loader></ngx-ui-loader>
        <div class="title">
            <mat-icon>dashboard</mat-icon> <h1>Dashboard</h1>
        </div>
        <ejs-dashboardlayout [columns]="3" #editLayout [cellSpacing]='cellSpacing' [allowResizing] = "true" [allowDragging]="true">

            <e-panels>
                <!-- <e-panel [sizeX]="3" [sizeY]="1" [row]="4" [col]="0">
                    <ng-template #header >
                        <div>SEO system internal DATA</div>
                    </ng-template> 
                    <ng-template #content>
                        <div class="list">
                            <div class="list-item">
                                <mat-icon>managers</mat-icon>
                                <p><b>{{usersNumber}}</b> Users</p>
                            </div>
                            <div class="separator"> </div>
                            <div class="list-item">
                                <mat-icon>key</mat-icon>
                                <p><b>{{themesNumber}}</b> Keyword Themes</p>
                            </div>
                            <div class="separator"> </div>
                            <div class="list-item">
                                <mat-icon>link</mat-icon>
                                <p><b>{{pagesNumber}}</b> Pages</p>
                            </div>
                        </div>
                    </ng-template>
                </e-panel> -->
                <e-panel [sizeX]="1" [sizeY]="1" [row]="0" [col]="1">
                    <ng-template #content>
                    <div class="seoScore">
                        <ejs-progressbar  id='determinate' type='Circular' innerRadius='90%' height='250' [value]="value"  [animation]='animation'   [trackThickness]='trackThickness' [progressThickness]='progressThickness' progressColor='#50C878' trackColor= '#AFE1AF' [labelStyle]='labelStyle'  (textRender)='textRender2($event)'   [showProgressValue]='showProgressValue'>
                        </ejs-progressbar>
                        <h3>SEO Score</h3>
                    </div>
                    </ng-template>
                </e-panel>
                <e-panel [sizeX]="1" [sizeY]="1" [row]="0" [col]="0">
                    <ng-template #header>
                        <div style="display: flex; justify-content: center;"><mat-icon>arrow_upward</mat-icon> Top visited pages</div>
                    </ng-template>
                    <ng-template #content>
                        <div style="max-height: 90%; width: 100%; overflow-y: auto; overflow-x: hidden; position:absolute; bottom:0px;">
                        <ul *ngFor="let page of topPages" id="demo">
                            <li></li>
                            <li style="margin-bottom: 6px;"><mat-icon>link</mat-icon><a href="{{page}}" target="_blank" style="text-decoration: none; color: rgb(76, 76, 76);">{{page}}</a></li>
                        </ul>
                    </div>
                    </ng-template>
                </e-panel>

                <e-panel [sizeX]="1" [sizeY]="2" [row]="0" [col]="2">
                    <ng-template #header>
                        <div style="display: flex; justify-content: center;"><mat-icon>search</mat-icon> Top queries</div>
                    </ng-template>
                    <ng-template #content>
                        <div style="max-height: 90%; width: 100%; overflow-y: auto; overflow-x: hidden; position:absolute; bottom:0px;">
                            <ul *ngFor="let query of topQueries ; let i = index" id="demo">
                                <li><mat-icon>key</mat-icon> - {{query}}</li>

                                <li>
                                Impression:  {{topQueriesImpressions[i]}} <br>
                                CTR:  {{topQueriesCtr[i] | percent}} <br>
                                Clicks:  {{topQueriesClicks[i]}}
                                </li>
                            </ul>
                    </div>
                    </ng-template>
                </e-panel>
                <e-panel [sizeX]="2" [sizeY]="1" [row]="1" [col]="0">
                    <ng-template #header>
                        <!-- Here goes the header title of the panel if exists! -->
                    </ng-template>
                    <ng-template #content>
                        <ejs-chart id='chart-container' [primaryXAxis]='clickXAxis'[primaryYAxis]='clickYAxis' style="height:100%;" [palettes]='palette'>
                            <e-series-collection>
                                <e-series [dataSource]='ClicksData' type='Line' xName='date' yName='click' name='Clicks per date' width='3'></e-series>
                            </e-series-collection>
                        </ejs-chart>
                    </ng-template>
                </e-panel>
                <e-panel [sizeX]="2" [sizeY]="1" [row]="2" [col]="1">
                    <ng-template #header>

                    </ng-template>
                    <ng-template #content>
                        <ejs-chart id='ctr-chart' [primaryXAxis]='ctrXAxis'[primaryYAxis]='ctrYAxis' style="height:100%;" [palettes]='palette2'>
                            <e-series-collection>
                                <e-series [dataSource]='CtrData' type='Line' xName='date' yName='ctr' name='CTR per date' width='3'></e-series>
                            </e-series-collection>
                        </ejs-chart>
                    </ng-template>
                </e-panel>
                <e-panel [sizeX]="1" [sizeY]="1" [row]="3" [col]="0">
                    <ng-template #header>
                        <div style="display: flex; justify-content: center;"><mat-icon>place</mat-icon> Top countries</div>
                    </ng-template>
                    <ng-template #content>
                        <div style="max-height: 80%; width: 100%; overflow-y: auto; overflow-x: hidden; position:absolute; bottom:0px;">
                            <ul *ngFor="let country of topCountries ; let i = index" id="demo">
                                <li></li>
                                <li>{{i + 1}} - {{country}}</li>
                            </ul>
                        </div>
                    </ng-template>
                </e-panel>
            </e-panels>

        </ejs-dashboardlayout>
    </div>
</div>
