@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-angular-layouts/styles/material.css";
.e-panel{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 25px !important;
}
  .control-section {
    
    padding-left: 20px;
    width: 100%;
  }

  .container{

    width: 100vw;
    display: flex;
    text-align:left;
    align-items: center;
  }
  .e-dashboardlayout.e-control .e-panel .e-panel-container .e-panel-header {
    color: rgb(88, 88, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    background-color: #ffffff;
    height: 10%;
    font-size: medium;
    border-radius: 25px 25px 0 0px;
    padding-top: 5px;
    box-shadow: rgba(255, 217, 217, 0.2) 0px 8px 24px;
}
.e-dashboardlayout.e-control .e-panel .e-panel-container .e-panel-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  margin-top: 10px;
}


/* (A) LIST VIEW BY DEFAULT */
#demo {
  /* (A1) REMOVE BULLETS & IDENTATION */
  list-style: none;
  padding: 0; margin: 0;
  /* (A2) LIST VIEW - 1 ITEM PER ROW */
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 5px;
  width: 400px;
}
 
/* (B) LIST ITEMS */
#demo li {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;


}
#demo li:nth-child(odd) { background: #dedede16; font-weight: bold;} 

#demo::-webkit-scrollbar-track {
  background-color: #f5f5f5 !important;
}

#demo::-webkit-scrollbar-thumb {
  background-color: yellow !important;
  border-radius: 10px !important;
}

#demo::-webkit-scrollbar-thumb:hover {
  background-color: orange !important;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.seoScore{
  text-align: center;

}
.seoScore > h3 {
  font-weight: bold;
}
.center{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}
.list-item{
  text-align: center;
}
.list-item > mat-icon{
  transform: scale(4);
  margin: 50px;
}
.separator{
  height:80px;
  width: 3px;
  background-color: rgb(173, 173, 173);
}
.card{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.title{
  margin: 25px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 280px;
}
.title > h1{
  margin-top: 6px;
  font-weight: bold;
  color: rgb(58, 58, 58);
}
.title > mat-icon{
  scale: 1.4;
  color: #ff7b00;
}