<div class="container">
    <div class="control-section">
        <h1>Dashboard</h1>
        <ejs-dashboardlayout [columns]="3" #editLayout [cellSpacing]='cellSpacing' [allowResizing] = "true" [allowDragging]="true">

            <e-panels>
                <e-panel [sizeX]="2" [sizeY]="1" [row]="1" [col]="0">
                    <ng-template #header >
                        <div>Product usage ratio</div>
                    </ng-template> 
                    <ng-template #content>
                        <div id="column">
                            <ejs-chart id="columnChart" height="162px" [primaryXAxis]='primaryXAxis'>
                                <e-series-collection>
                                    <e-series [dataSource]="chartData" type='Column' xName='month' yName='sales'>
                                    </e-series>
                                </e-series-collection>
                            </ejs-chart>

                        </div>
                    </ng-template>
                </e-panel>
                <e-panel [sizeX]="1" [sizeY]="1" [row]="0" [col]="1">
                    <ng-template #content>
                    <div class="seoScore">
                        <ejs-progressbar  id='determinate' type='Circular' innerRadius='90%' height='250' [value]="value"  [animation]='animation'   [trackThickness]='trackThickness' [progressThickness]='progressThickness' progressColor='lightgreen' [labelStyle]='labelStyle'  (textRender)='textRender2($event)'   [showProgressValue]='showProgressValue'>
                        </ejs-progressbar>
                        <h3>SEO Score</h3>
                    </div>
                    </ng-template>
                </e-panel>
                <e-panel [sizeX]="1" [sizeY]="1" [row]="0" [col]="0">
                    <ng-template #header>
                        <div>Top visited pages</div>
                    </ng-template>
                    <ng-template #content>
                        <div style="max-height: 80%; width: 100%; overflow-y: auto; overflow-x: hidden; position:absolute; bottom:0px;">
                        <ul *ngFor="let page of topPages" id="demo">
                            <li style="margin-bottom: 6px;"><mat-icon>link</mat-icon>{{page}}</li>
                        </ul>
                    </div>
                    </ng-template>
                </e-panel>

                <e-panel [sizeX]="1" [sizeY]="2" [row]="0" [col]="2">
                    <ng-template #header>
                        <div>Top queries</div>
                    </ng-template>
                    <ng-template #content>
                        <div style="max-height: 80%; width: 100%; overflow-y: auto; overflow-x: hidden; position:absolute; bottom:0px;">
                            <ul *ngFor="let query of topQueries ; let i = index" id="demo">
                                <li><mat-icon>key</mat-icon> - {{query}}</li>

                                <li>
                                Impression:  {{topQueriesImpressions[i]}} <br>
                                CTR:  {{topQueriesCtr[i] | percent}} <br>
                                Clicks:  {{topQueriesClicks[i]}}
                                </li>
                            </ul>
                    </div>
                    </ng-template>
                </e-panel>
            </e-panels>
        </ejs-dashboardlayout>

    </div>
</div>