<div class="form">
    <div class="form__box bg-light">
      <div class="form__right">
        <div class="form__padding-right">
  
          <h2>Forget Password</h2>
      
          <form (ngSubmit)="sendResetPasswordEmail()">
                <p>Please provide your email and wait for verification mail to be sent to you.</p>
                <input class="form__email" type="text" placeholder="Email"  [(ngModel)]="email" name="email" >
                
                <div *ngIf="error" class="error">{{error}}</div>
                <div *ngIf="message" class="message">{{message}}</div>
                <div>
                  <button >Send verification Email</button>
                  <a class="form__link" routerLink="/login" >Login</a>
                </div>
            </form>
  
  </div>
  </div>
  </div>
  </div>
  
  