<div class="form">
    <div class="form__box">
      <div class="form__left">
        <div class="form__padding"><img class="form__image" src="assets\Logo\Logo_ijeni_horizontal.svg"/></div>
      </div>
      <div class="form__right">
        <div class="form__padding-right">
  
          <h2>Forget Password</h2>
      
      <mat-card-content>
          <form class="example-form" (ngSubmit)="sendResetPasswordEmail()">
              
                <label>Email</label>
                <input class="form__email" type="text" placeholder="Email"  [(ngModel)]="email" name="email" >
                
                <div *ngIf="error" class="error">{{error}}</div>
                <div>
                  <button >Send verification Email</button>
                  <a class="form__link" routerLink="/login" >Login</a>
                  <a class="form__link" routerLink="/register" >register</a>
                </div>
            </form>
      </mat-card-content>
  
  </div>
  </div>
  </div>
  </div>
  
  