<div class="card bg-dark">
  <div class="form__box">
    <div class="form__right">
      <div class="form__padding-right">

        <h2>Registeration</h2>
    
    
      <form (ngSubmit)="proceedregister()">
            
              <label>Username</label>
              <input type="text" placeholder="Username" [(ngModel)]="username" name="username">
            
              <label>Email</label>
              <input type="emil" placeholder="Email" [(ngModel)]="email" name="email">

              <label>Password</label>
              <input type="password" placeholder="password" [(ngModel)]="password" name="password">
  
              
              <label>Role</label>
              <select name="Role" [(ngModel)]="role" id="">
                <option value="admin">Admin</option>
                <option value="seo-specialist">SEO Specialist</option>
                <option value="redactor">Redactor</option>
                <option value="developer">Developer</option>

              </select>

              <div class="error" *ngIf="error">{{error}}</div>
              <div class="buttons">
                <button class="btn btn-warning">Submit</button>
                <a routerLink="/users" class="btn btn-outline-warning" >Go Back to Users</a>
              </div>
          </form>
    
  </div>
</div>
</div>
</div>



